$primary-color: #00A598;

.mass-spec-solver {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;


  select, select:active, select:focus, select:hover {
    color: $primary-color;
  }

  input.form-control:focus {
    outline-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px $primary-color;
  }

  .main-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    .num-combinations {
      padding-top: 4px;
      font-size: 12px;
    }
  }

  .solutions {
    font-size: 18px;
    width: 60%;
    a {
      font-size: 14px;
    }
    h4 {
      display: inline-block;
    }
    ul {padding: 0;}
    li {
      list-style: none;
    }
  }

  .fragments {
    .fragment {
      .shadow-text {
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 100;
        color: lighten(gray, 20%);

        &.invalid {
          color: lighten(red, 35%);
        }
      }
      .action-icon {
        color: $primary-color;
      }
      .action-icon.disabled {
        color: gray;
      }

      &.example-enter {
        opacity: 0.01;
      }

      &.example-enter.example-enter-active {
        opacity: 1;
        transition: opacity 2s ease-in;
      }

      &.example-leave {
        opacity: 1;
      }

      &.example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity 2s ease-in;
      }
    }
  }

  .form-group {
    margin-bottom: 5px;
  }

  button.btn.btn-highlight {
    background-color: $primary-color;
  }

  p.combinations {
    display: inline-block;
    font-size: 12px;
  }
}
